.Filter {
  &__dropdown {
    margin-left: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  &__option {
    &:hover {
      cursor: pointer;
    }
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ant-popover-inner > div {
  max-height: 40vh;
  overflow-y: auto;
  max-width: 55vw;
  @media (min-width: 768px) {
    max-width: 300px;
  }
  @media (min-width: 460px) {
    max-width: 250px;
  }
  @media (min-height: 768px) {
    max-height: 500px;
  }
}
