@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

@base-spacing: 0;

.Topnav {
  background: rgba(0,0,0,0.6);
  box-shadow: 0 0 4px @white-shadow;
  height: 56px;
  line-height: 56px;

  &__logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;

    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
      color: #fff
    }

    &:hover,
    &:active {
      color: #cecece;
    }
  }

  &__version {
    margin-left: 2px;
    color: #fff;
    font-weight: 500;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  &__menu-container {
    display: flex;
    justify-content: flex-end;

    &__menu {
      flex-shrink: 0;
      height: 56px !important;
      line-height: 55px !important;
      margin-left: @base-spacing;

      & > li {
        height: 55px !important;
        padding: 0 4px !important;

        & > a {
          color: #94959a !important;
          font-weight: 600 !important;
        }
      }
    }
  }

  &__user {
    display: flex !important;
    align-items: center;
    height: 54px;
    color: @primary-color;

    .anticon-loading {
      margin-right: 0 !important
    }
  }
}
