.MediaHeader {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: -200px;
  max-width: 1011px;
  padding: 24px 20px;
  @media (min-width: 1050px) {
    padding: 30px 0 0 0;
  }
  align-items: flex-start;
  flex-direction: row;
  &__poster {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    margin-right: 30px;
    img {
      min-width: 200px;
      width: 200px;
      height: 300px;
      postition: absolute;
      margin-bottom: 1em;
    }
  }
  &__info {
    margin-top: 200px;
    ::selection {
      background: #ccc;
    }
    color: #444;
    width: 100%;
    &__title {
      font-size: 2em;
      margin-bottom: 0.2em;
    }
    &__rating, &__subscribe, &__overview, &__actors, &__genres, &__links {
      margin-bottom: 1em;
    }
    &__actors > p, &__genres > p {
      margin-bottom: 0;
    }
    &__seasons, &__episodes {
      display: inline;
      h4 {
        margin-bottom: 1em;
      }
    }
    &__links a:not(:first-child) {
      margin-left: 10px
    }
    &__episodes {
      margin-left: 1em;
    }
  }
  &__link {
    margin-top: 10px;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.MediaItem {
  &__backdrop {
    height: 250px;
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-repeat: no-repeat!important;
    width: 100%;
  }
}

.prev-next {
  display: none;
  @media (min-width: 1300px) {
    display: block;
  }
}

.prev-icon {
  left: -100px;
}

.next-icon {
  right: -100px;
}

.prev-next {
  transition: opacity .3s;
  i {
    color: #444;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:hover {
    opacity: 0.5
  }
}
