.List {
  &__open__items {
    width: 100%;
    border: none;
    border-radius: 0;
  }
  .showEpisodes {
    display: block;
  }
  &__item__list {
    display: none;
    max-width: 1010px;
    margin: 0 auto;
    &__item {
      padding: 20px;
      @media (min-width: 1060px) {
        padding: 12px 0;
      }
      .ant-list-item-meta-avatar {
        min-width: 92px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
